@charset "UTF-8";
/* скрытый заголовок */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.net-icon {
  width: 20px;
  height: 20px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.decoration {
  text-decoration: none;
}

h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: rgb(33, 33, 33);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.centered {
  text-align: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.sections {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .sections {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* Логотип */
.site-nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
@media screen and (max-width: 1199.98px) {
  .site-nav__logo {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}

.site-nav__text {
  color: #2196f3;
}

/* навигация */
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}
@media screen and (max-width: 767.98px) {
  .site-nav__list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .site-nav__list {
    margin-left: 88px;
  }
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}
.site-nav__link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 1199.98px) {
  .site-nav__item:not(:last-child) {
    margin-right: 55px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

/* Підкреслення */
/* контакти хедер */
.site-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
}
@media screen and (max-width: 767.98px) {
  .site-contacts {
    display: none;
  }
}
@media screen and (max-width: 1199.98px) {
  .site-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .site-contacts {
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .site-contacts__item + .site-contacts__item {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1199.98px) {
  .site-contacts__item:nth-child(1) {
    margin-bottom: 10px;
  }
}

.current {
  color: #2196f3;
}

.site-contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-contacts__link:hover, .site-contacts__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .site-contacts__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-contacts__icon {
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 10px;
  fill: #757575;
  stroke: currentColor;
}

.site-contacts__icon-mail {
  width: 16px;
  height: 12px;
}

.site-contacts__icon-tel {
  width: 10px;
  height: 16px;
}

@media screen and (max-width: 767px) {
  .site-nav__list,
.site-contacts {
    display: none;
  }
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 450px;
    padding-bottom: 16px;
    padding-top: 16px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.head__menu {
  cursor: pointer;
  display: inline-block;
  border-color: transparent;
  background-color: white;
  fill: black;
}
.head__backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
}
.head__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.icon-menu {
  width: 40px;
  height: 40px;
  fill: black;
}

.menu__container {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}
.menu__btn-close {
  position: fixed;
  top: 10px;
  right: 15px;
  padding: 0;
  border: none;
  background-color: white;
}
.menu__icon-close {
  position: fixed;
  top: 21px;
  right: 25px;
  width: 18px;
  height: 18px;
}
.menu__btn-close:hover .menu__icon-close, .menu__btn-close:focus .menu__icon-close {
  fill: #2196f3;
}
.menu__section {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu__link:not(:last-child) {
  margin-bottom: 32px;
}
.menu__link:hover .menu__section, .menu__link:focus .menu__section {
  color: #2196f3;
}
.menu__section-list {
  padding: 0;
  margin: 0;
}
.menu__social {
  position: fixed;
  bottom: 48px;
  left: 40px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu__mail-phone {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: fixed;
  bottom: 134px;
  gap: 32px;
}
.menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
}
.menu__phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #757575;
}
.menu__mail:hover, .menu__mail:focus, .menu__phone:hover, .menu__phone:focus {
  color: #2196f3;
}

.current {
  color: #2196f3;
}

.social__link:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social__link:not(:first-child) {
  padding-left: 10px;
}

.social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .head__menu,
.head__backdrop {
    display: none;
  }
}
.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
}

/* заголовок */
.hiro {
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: auto;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .hiro {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/service/img_480.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/service/img_480.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hiro {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/service/img_960.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/service/img_960.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hiro {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/service/img_768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/service/img_768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hiro {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/service/img_1536.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/service/img_1536.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hiro {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/service/img_1600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/service/img_1600.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hiro {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/service/img_3200.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/service/img_3200.jpg);
  }
}

.hiro__titel {
  margin-top: 0;
  width: 696px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hiro__button {
  min-width: 216px;
  padding: 10px 32px;
}

/* список преимуществ */
@media screen and (min-width: 768px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__titel {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}
@media screen and (max-width: 767.98px) {
  .benefits__titel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.benefits__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}
@media screen and (max-width: 767.98px) {
  .benefits__text {
    padding-bottom: 30px;
  }
}

/* benefits-SVG */
.benefits__wrapper-icon {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .benefits__wrapper-icon {
    width: 100%;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .benefits__wrapper-icon {
    width: 354px;
  }
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

/* projects */
.projects {
  padding-bottom: 94px;
}
@media (max-width: 1199px) {
  .projects {
    display: none;
  }
}

@media screen and (max-width: 1199.98px) {
  .projects__titel,
.team__titel-section,
.clients__titel {
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__titel,
.team__titel-section,
.clients__titel {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__item {
  position: relative;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.projects__item:nth-child(3n) {
  margin-right: 0;
}

.projects__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* team */
.team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

@media screen and (max-width: 1199.98px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.team__img {
  height: auto;
}

.team__text {
  width: 270px;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767.98px) {
  .team__text {
    width: 450px;
  }
}
@media screen and (max-width: 1199.98px) {
  .team__text {
    width: 354px;
  }
}

.team__titel {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
  margin-bottom: 10px;
}

.team__description {
  line-height: 1.18;
  color: #757575;
  margin-bottom: 16px;
}

/* соц-мережі наша команда */
/* net-list */
.team__net-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.net-item {
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.net-item:not(:last-child) {
  margin-right: 10px;
}

.net-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  font-size: 0px;
  padding: 0;
  border-radius: 50%;
  fill: rgb(175, 177, 184);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.net-link:hover, .net-link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

@media screen and (max-width: 1199.98px) {
  .clients__titel {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    line-height: 1.1785714286;
    color: #212121;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1px) {
  .clients__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .clients__item {
    max-width: 210px;
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.clients__link {
  height: 92px;
  color: rgb(175, 177, 184);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border-color, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover {
  border-color: #2196f3;
  color: #2196f3;
}
.clients__link:focus .clients__icon {
  fill: #2196f3;
}
@media screen and (max-width: 767px) {
  .clients__link {
    max-width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* footer */
.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #2f303a;
}
@media screen and (max-width: 767.98px) {
  .footer {
    min-height: 604px;
  }
}

.footer__container {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 165px;
    row-gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrapper {
    margin-right: 70px;
  }
}

.footer__logo {
  color: #ffffff;
  line-height: 1.19;
}
@media screen and (max-width: 1199.98px) {
  .footer__logo {
    max-width: 154px;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    margin-bottom: 28px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__address {
    margin-bottom: 60px;
    min-width: 232px;
  }
}
@media screen and (max-width: 1199.98px) {
  .footer__address {
    text-align: center;
  }
}

@media screen and (max-width: 767.98px) {
  .address-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1199.98px) {
  .address-list__item:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .address-list__item:nth-child(-n+2) {
    margin-bottom: 9px;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #ffffff;
}
/* форма розсилки */
/* форма-футер */
.form-footer {
  margin-left: auto;
  margin-right: auto;
}

/* форма підписки */
.form-footer__subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
@media screen and (max-width: 1199.98px) {
  .form-footer__subscription {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* div label+input */
.form-footer__form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 1199.98px) {
  .form-footer__form-field {
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .form-footer__form-field {
    margin-right: 20px;
  }
}

/* імейл */
.form-footer__form-mail {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1199.98px) {
  .form-footer__form-mail {
    max-width: 450px;
    width: 100%;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .form-footer__form-mail {
    margin-bottom: 20px;
  }
}

/* form-input */
.form-footer__form-input {
  width: 358px;
  height: 50px;
  padding: 15px;
  background: #2f303a;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline-color: #2196f3;
}
@media screen and (max-width: 767.98px) {
  .form-footer__form-input {
    max-width: 450px;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1199.98px) {
  .form-footer__form-input {
    margin-bottom: 20px;
  }
}
.form-footer__form-input::-webkit-input-placeholder {
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer__form-input::-moz-placeholder {
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer__form-input:-ms-input-placeholder {
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer__form-input::-ms-input-placeholder {
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer__form-input::placeholder {
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* form кнопка */
.form-footer__btn {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1199.98px) {
  .form-footer__btn {
    margin-left: auto;
    margin-right: auto;
  }
}

/* icon-telegram */
.form-footer__icon-telegram {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}

/* footer соц-мережі */
@media screen and (max-width: 767.98px) {
  .footer-icons {
    margin-bottom: 60px;
  }
}

.footer-icons__titel {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}
@media screen and (max-width: 1199.98px) {
  .footer-icons__titel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-icons__titel {
    margin-bottom: 20px;
  }
}

.footer-icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-icons__item {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-icons__item:hover {
  background-color: #2196f3;
}

.footer-icons__link:focus {
  background-color: #2196f3;
}

.footer__icon {
  fill: #ffffff;
}

/* Модальне вікно */
/* бекдроп */
.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
}

.modal__backdrop-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  color: #2196f3;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal__backdrop-close:hover .modal__backdrop-icon {
  fill: currentColor;
}

.modal__backdrop-icon {
  width: 11px;
  height: 11px;
  fill: rgb(0, 0, 0);
}

/* модалка */
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* поле для ввода */
.modal-form__input {
  margin-top: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: #2196f3;
}
.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
}

/* модал-іконки */
.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 18px;
  height: 18px;
  fill: #212121;
}

.modal-form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__texarea-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__textarea {
  resize: none;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: #2196f3;
}

textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

/* згода на розсилку */
.modal-form__agree-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-form__agree-label::before {
  content: " ";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-form__link {
  color: #2196f3;
  margin-left: 5px;
}

.modal-form__checkbox-agree:checked + .modal-form__agree-label::before {
  background-color: #2196f3;
  border: none;
  background-image: url(../images/icons.svg/chek-mark.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* кнопка */
.modal-form__button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  background: #2196f3;
}

/* Портфоліо */
/* section filter */
.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199.98px) {
  .filter {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 767.98px) {
  .filter-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 40px;
  }
}

/* filter-item */
/* кнопки фільтру */
.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767.99px) {
  .filter-list__item:nth-last-child(-n+2) {
    margin-top: 15px;
  }
}

.filter-list__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  min-width: 73px;
  padding: 6px 25px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #f5f4fa;
  color: rgb(33, 33, 33);
  cursor: pointer;
  -webkit-transition: background-color, color, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
  transition: background-color, color, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
  transition: background-color, color, box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, color, box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
}
.filter-list__btn:hover, .filter-list__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* наші роботи */
/* work-list */
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .filter__work-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter__work-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* work-item */
.filter__work-item {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .filter__work-item {
    max-width: 354px;
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .filter__work-item {
    height: 404px;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
.filter__work-item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 1200px) {
  .filter__work-item:nth-child(3n) {
    margin-right: 0;
  }
  .filter__work-item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.filter__work-titel {
  font-size: 18px;
  line-height: 2;
  color: #212121;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.filter__work-description {
  line-height: 1.87;
  color: #757575;
}

/* work-link */
.filter__img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .filter__work-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.filter__work-link:hover .filter__description {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.filter__work-link:focus .filter__description {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.filter__work-link:hover .filter__product-thumb::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.filter__work-link:focus .filter__product-thumb::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* description */
.filter__product-thumb {
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 767.99px) {
  .filter__product-thumb {
    height: 294px;
  }
}

.filter__description {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* work-text */
.filter__work-text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .filter__work-text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}/*# sourceMappingURL=main.css.map */