// /* clients */

.clients__titel {
  @media screen and (max-width: 1199.98px) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;

    line-height: calc(33 / 28);

    color: #212121;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: 1px) {
    justify-content: center;
  }
}

.clients__item {
  @media screen and (max-width: 767px) {
    max-width: 210px;
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients__link {
  height: 92px;
  color: $icon-color;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: border-color, color 250ms $timing-function;

  &:hover {
    border-color: $accent-color;
    color: $accent-color;
  }

  &:focus .clients__icon {
    fill: $accent-color;
  }

  @media screen and (max-width: 767px) {
    max-width: 210px;
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
