/* форма розсилки */
/* форма-футер */
.form-footer {
  margin-left: auto;
}
/* форма підписки */
.form-footer__subscription {
  display: flex;
  align-items: end;
}

/* div label+input */
.form-footer__form-field {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

/* імейл */
.form-footer__form-mail {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;

  text-transform: uppercase;

  color: #ffffff;
}

/* form-input */
.form-footer__form-input {
  width: 358px;
  height: 50px;
  padding: 15px;
  background: #2f303a;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline-color: $accent-color;

  &::placeholder {
    line-height: 1.25;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}

/* form кнопка */
.form-footer__btn {
  width: 200px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* icon-telegram */

.form-footer__icon-telegram {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}
