/* заголовок */
.hiro {
  width: 1600px;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hiro.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hiro__titel {
  margin-top: 0;

  width: 696px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hiro__button {
  min-width: 216px;
  padding: 10px 32px;
}
