/* Модальне вікно */
/* бекдроп */
.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms $timing-function;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  & .modal {
    transform: translate(-50%, -50%) scale(0.6);
  }
}

.modal__backdrop-close {
  position: absolute;

  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;

  color: $accent-color;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  &:hover .modal__backdrop-icon {
    fill: currentColor;
  }
}

.modal__backdrop-icon {
  width: 11px;
  height: 11px;

  fill: rgba(0, 0, 0, 1);
}

/* модалка */
.modal {
  position: relative;
  top: 50%;
  left: 50%;

  width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $timing-function;
}

.modal__text {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: $primary-color;
}

/* поле для ввода */

.modal-form__input {
  margin-top: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: $accent-color;

  &:focus + .modal-form__icon {
    fill: $accent-color;
  }
}

/* модал-іконки */

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;

  width: 18px;
  height: 18px;
  fill: $primary-color;
}

.modal-form__label {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: #757575;
}

.modal-form__texarea-label {
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: #757575;
}

.modal-form__textarea {
  resize: none;

  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: $accent-color;
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

/* згода на розсилку */

.modal-form__agree-label {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;

  letter-spacing: 0.03em;

  color: #757575;

  &::before {
    content: ' ';
    display: flex;
    width: 16px;
    height: 15px;

    margin-right: 7px;

    border: 2px solid $primary-color;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.modal-form__link {
  color: $accent-color;
  margin-left: 5px;
}

.modal-form__checkbox-agree:checked + .modal-form__agree-label::before {
  background-color: #2196f3;
  border: none;
  background-image: url(../images/icons.svg/chek-mark.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* кнопка */

.modal-form__button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 10px 52px;

  background: #2196f3;
}
